.button {
    background-color: #0f1b2d;
    /* height: 40px; */
    font-size:12px;
    font-family: sans-serif;
    color: White;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top: 30px;
    cursor: pointer;
    padding: 17px;
}

.button:hover {
    background: linear-gradient(90deg, #0a131f, #16243a)
}